<?xml version="1.0"?>
<config>
    <modules>
        <Sr_AgreementPosition>
            <version>0.0.1</version>
        </Sr_AgreementPosition>
    </modules>
    <global>
        <helpers>
            <sr_agreement>
                <class>Sr_AgreementPosition_Helper</class>
            </sr_agreement>
        </helpers>
        <models>
            <sr_agreement>
                <class>Sr_AgreementPosition_Model</class>
                <resourceModel>sr_agreement_resource</resourceModel>
            </sr_agreement>
            <sr_agreement_resource>
                <class>Sr_AgreementPosition_Model_Resource</class>
            </sr_agreement_resource>
        </models>
        <resources>
            <sr_agreement_setup>
                <setup>
                    <module>Sr_AgreementPosition</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </sr_agreement_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <sr_agreement_observer>
                        <class>sr_agreement/observer</class>
                        <type>model</type>
                        <method>sortAgreements</method>
                    </sr_agreement_observer>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <sr_agreement_observer_agreement>
                        <class>sr_agreement/observer</class>
                        <type>model</type>
                        <method>addAgreementsPosition</method>
                    </sr_agreement_observer_agreement>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
</config>
